.parcel-cache/

# Added by mle-best-practices
.idea/
.vscode/
lib-cov/
coverage/
.nyc_output/
bower_components/
build/
pids/
node_modules/
jspm_packages/
typings/
logs/
.logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.DS_Store
*.pid
*.seed
*.pid.lock
.grunt
.npm
.eslintcache
*.tgz
*-audit.json
*private*
.output.txt
dist/
disti/
.gen/
.env
*gitignored*
*gitignored
