
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
.coverage/
www/
node_modules/
tmp/
temp/
platforms/
$RECYCLE.BIN/
Old/
dist/
.nyc_output/
.cache/
.parcel-cache/

.DS_Store
Thumbs.db
.output.txt

*.gitignored*

# Added by mle-best-practices
logs/
yarn-debug.log*
yarn-error.log*
.logs/
pids
*.pid
*.seed
*.pid.lock
lib-cov/
.grunt
bower_components
build/Release
jspm_packages/
typings/
.npm
.eslintcache
*.tgz
.yarn-integrity
*-audit.json
.env
app/
.gen/
*gitignored*
*gitignored